// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'admin';


.dropdown {
    display: inline-block;
    font-size: 18px;
    .popup { position: absolute; background: #fff; padding: 15px; margin-top: 10px; margin-left: -999em; opacity: 0; min-width: 180px; max-width: 300px; box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 10px;
        -webkit-transition: opacity 0.8s ease;
        -moz-transition: opacity 0.8s ease;
        transition: opacity 0.8s ease;
    }
    &.active{
        .popup{
            opacity: 1;
            margin-left: 0;
            z-index: 9999;
        }
    }
    span{
        cursor: pointer;
    }

}
#navbarSupportedContent{
    font-size: 16px;
}
.navbar-brand{
    font-size: 20px;
}

.wrapper_them_content{
    .top_block{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin-bottom: 15px;
        }
        img{
            width: 600px;
            height: 300px;
        }
    }
    .content_block{
        width: 80%;
        margin: 20px auto;
        p{
            font-size: 18px;
            white-space: pre-wrap;
        }
    }

    .button_group{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
}
    }

}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
.container{
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
    --bs-bg-opacity: 1;
    box-shadow: 0 -0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    p{
        margin-bottom: 0;
        padding-bottom: 10px;
    }
}
    .pb-3{
        padding-top: 1rem !important;
    }
}

.Wraper_content_block{
    width: 80%;
    margin: auto;
    padding: 10px 15px;
    min-height: calc(100vh - 141px);
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
    .breadcrumb{
        width: 100%;
        margin: 10px auto;
        font-size: 20px;
    }
    .wrapper_card{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        .card{
            margin: 5px;
            text-decoration: none;
            width: calc(33.3% - 10px) !important;
            .card-body{
                color: black;
                font-size: 24px;
            }
        }
    }

    .wrapper_test_slider{
        width: 60%;
        margin: auto;
        .wrapper_test_item{
            border: 1px solid;
            padding: 15px;
            min-height: 400px;
            .num_test{
                font-size: 18px;
            }
            .text_quantity{
                font-size: 20px;
            }
            .quantity_test{
                display: flex;
                flex-direction: column;
                font-size: 18px;

                p{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: baseline;
                input{
                    margin-right: 5px;
                }
                }

            }

        }
    }

    .button_hide_test{
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -240px;

    .go-prev, .go-next{
        padding: 6px 14px;
        border-radius: 22px;
        border: 1px solid;
        font-size: 18px;
        cursor: pointer;
    }

    }
    .wrapper_button_succes_test{
        display: flex;
        justify-content: center;
        .button_succes_test{
            text-decoration: none;
            color: black;
            font-size: 16px;
            padding: 10px 20px;
            border: 1px solid black;
            background: #fff;
            opacity: 0.3;
            cursor: default;
            pointer-events: none;
            &.active{
                opacity: 1;
                cursor: pointer;
                pointer-events: auto;
            }
        }
    }

}
