// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header_top_block{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    background: #252733;
    border-bottom: #4c3333 solid 2px;
    position: fixed;
    z-index: 1;
    a{
        font-size: 16px;
        padding: 10px 10px 10px 15px;
        color: #fff;
        text-decoration: none;
    }
}
.wrapper_content_admin{
    display: flex;
    flex-direction: row;
    .container-list{
        background: #252733;
        height: 100vh;
        width: 200px;
        margin-top: 50px;
        position: fixed;
        ul{
            padding-top: 5px;
            padding-left: 15px;
            font-size: 16px;
            li{
                list-style-type: none;
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 16px;
                    &.active{
                        color: #10a9f2;
                }
                }
            }
        }
    }
    .main_content_admin{
        width: 100%;
        padding: 10px;
        margin-top: 50px;
        margin-left: 200px;
        .top_block{
            display: flex;
            flex-direction: row;
            padding: 0 10px;
            justify-content: space-between;
            a{
                background-color: #252733;
                color: #fff;
                height: 30px;
                line-height: 30px;
                width: 172px;
                display: block;
                font-size: 15px;
                border-radius: 4px;
                text-align: center;
                cursor: pointer;
                text-decoration: none;
            }
        }
        .container_theme{
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            padding: 20px;
            -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 10%);
            box-shadow: 0 0 20px rgb(0 0 0 / 10%);
            border-radius: 12px;
            .content_theme{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                color: #000;
                font-size: 16px;
                width: 92%;
                padding-right: 10px;
                border-right: 2px solid #e8e8e8;
                img{
                    width: 300px;
                    height: 150px;
                }
                span{
                    margin: 0 10px;
                }
                .name_theme{
                    min-width: 15%;
                    text-align: center;
                    border-left: 2px solid #e8e8e8;
                    border-right: 2px solid #e8e8e8;
                    padding-left: 0 10px;
                    height: 100%;
                }
            }
            .button_edit_theme{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 8%;
                min-width: 150px;
                padding-left: 10px;
                a,input{
                    background-color: #252733;
                    color: #fff;
                    height: 30px;
                    line-height: 30px;
                    display: block;
                    font-size: 15px;
                    border-radius: 4px;
                    text-align: center;
                    cursor: pointer;
                    text-decoration: none;
                    min-width: 115px;
                }
                input{
                    line-height: 26px;
                }
            }

        }
    }

    .container_category_theme{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        padding: 20px;
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
        border-radius: 12px;
        justify-content: space-between;
        align-items: center;
        .button_edit_theme input{
            background-color: #252733;
            color: #fff;
            height: 30px;
            display: block;
            font-size: 15px;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            min-width: 115px;
            line-height: 26px;
        }
    }

    .error{
        border: 1px solid red;
    }

    .wrapper_block_image{
        margin-top: 10px;
        .flex_block{
            display: flex;
            button{
                margin-left: 10px;
            }
        }
    }

    .wrapper_block_test{
        form{
            display: flex;
            button{
                margin-left: 10px;
            }
        }
    }

.block_test{
    padding: 10px 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    border-radius: 12px;
    margin-bottom: 10px;
    &.hide{
        display: none;
    }
    .answer_create_block{
        margin-top: 15px;
        padding-top: 20px;
    }
}
    .block_test_bottom{
        margin-top: 10px;
    }

}




